

h1 {
	font-family: Ubuntu;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 25.3px;
}

h3 {
	font-family: Ubuntu;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 23px;
}

p {
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote {
	font-family: Ubuntu;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

pre {
	font-family: Ubuntu;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

body {
	min-height: 75rem;
	padding-top: 4.5rem;
}

.registration-form {
	padding: 50px 0;
}

.registration-form form {
	background-color: #fff;
	max-width: 600px;
	margin: auto;
	padding: 50px 70px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon {
	text-align: center;
	background-color: #5891ff;
	border-radius: 50%;
	font-size: 40px;
	color: white;
	width: 100px;
	height: 100px;
	margin: auto;
	margin-bottom: 50px;
	line-height: 100px;
}

.registration-form .item {
	border-radius: 20px;
	margin-bottom: 25px;
	padding: 10px 20px;
}

.registration-form .create-account {
	border-radius: 30px;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
	background-color: #5791ff;
	border: none;
	color: white;
	margin-top: 20px;
}

.registration-form .social-media {
	max-width: 600px;
	background-color: #fff;
	margin: auto;
	padding: 35px 0;
	text-align: center;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	color: #9fadca;
	border-top: 1px solid #dee9ff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons {
	margin-top: 30px;
	margin-bottom: 16px;
}

.registration-form .social-icons a {
	font-size: 23px;
	margin: 0 3px;
	color: #5691ff;
	border: 1px solid;
	border-radius: 50%;
	width: 45px;
	display: inline-block;
	height: 45px;
	text-align: center;
	background-color: #fff;
	line-height: 45px;
}

.registration-form .social-icons a:hover {
	text-decoration: none;
	opacity: 0.6;
}

@media (max-width: 576px) {
	.registration-form form {
		padding: 50px 20px;
	}
	.registration-form .form-icon {
		width: 70px;
		height: 70px;
		font-size: 30px;
		line-height: 70px;
	}
}

.zoom {
	transition: transform .2s;
	margin: 0 auto;
}

.zoom:hover {
transform: scale(1.2);
}

.counter-div {
	background-color: #f5f5f5;
	padding: 20px 0;
	border-radius: 5px;
}

.count-title {
	font-size: 40px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
}

.count-text {
	font-size: 13px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
}

.fa-yt {
	margin: 0 auto;
	float: none;
	display: table;
	color: #c4302b;
}

.fa-tw {
	margin: 0 auto;
	float: none;
	display: table;
	color: #00acee;
}

.fa-dd {
	margin: 0 auto;
	float: none;
	display: table;
	color: #7289d9;
}
