

h1 {
	font-family: Ubuntu;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 25.3px;
}

h3 {
	font-family: Ubuntu;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 23px;
}

p {
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote {
	font-family: Ubuntu;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

pre {
	font-family: Ubuntu;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

body {
	min-height: 75rem;
	padding-top: 4.5rem;
}

