Discord = "#Discord token"
TwitterBearer = "#TwitterBearer"
ImgurClinet = "#ImgurClinet"
BiliSess = "#BiliSess"
SauceAPI = "#SauceAPI"
YtToken = [
  "#GoogleAPI",
  "#GoogleAPI"
]

[Sql]
User = "humanz"
Pass = "1sampai8"
Host = "127.0.0.1"

[BotPrefix]
Fanart = "art!>"
Youtube = "yt!>"
Bilibili = "bil!>"
General = "vtub!>"

[Emoji]
Fanart = [ "❤️" ]
Livestream = [ "❤️" ]
