<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channels</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<body>
    <div class="container p-5">
        <div class="row row-cols-1 row-cols-md-4">
            {% for v in channels_info %}
            <div class="col mb-4">
                {% if v['enabled'] %}
                <div class="card border-success mb-3">
                    <h5 class="card-header">#{{ v['name'] }}</h5>
                    <div class="card-body">
                      <h5 class="card-title text-center">Already enabled</h5>
                      <div class="row row-cols-1">
                        <button type="button" class="col mb-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ v['name'] }}">
                          Update channel
                        </button>
                        <a href="/channels/{{ v['id'] }}/disable" class="col mb-1 btn btn-warning">Disable channel</a>   
                      </div>
                    </div>
                </div>                  
                {% else %}
                <div class="card border-secondary mb-3">
                    <h5 class="card-header">#{{ v['name'] }}</h5>
                    <div class="card-body">
                      <h5 class="card-title text-center">Disabled</h5>
                      <div class="text-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ v['name'] }}">
                          Enable channel
                        </button>
                      </div>
                    </div>
                </div>                  
                {% endif %}
            </div>
            <div class="modal fade" id="{{ v['name'] }}" tabindex="-1" aria-labelledby="{{ v['name'] }}Label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="{{ v['name'] }}Label">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form action="/channel/{{v['id']}}/update" method="POST">
                          <select class="form-select select-agency" aria-label="Select Agency" id="select-agency" name = "agency" >
                              <option selected>Select Agency</option>
                              {% for vv in v["channel_data"] %}
                              <option value="{{ vv['agency_name'] }}" id="{{ v['id'] }}" >{{ vv["agency_name"] }} {{ '(Enabled)' if vv['config']['type'] is not none }}</option>
                              {% endfor %}
                            </select>
                          {% for vv in v["channel_data"] %}
                          <!-- TODO;jquery read all state because it's was under <form> -->
                          <div id="{{ vv['agency_name'] }}-{{ v['id'] }}" class="agency-{{ v['id'] }}" style="display:none">
                            <div class="container p-1">
                              <label class="form-label">Channel Option</label>                          
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="dynamic" value="dynamic" id="{{ 'flexCheckChecked' if vv['config']['dynamic'] is not none and vv['config']['dynamic'] else 'flexCheckDefault' }}" {{ 'checked' if vv['config']['dynamic'] is not none and vv['config']['dynamic'] is true }}>
                                  <label class="form-check-label" for="{{ 'flexCheckChecked' if vv['config']['dynamic'] is not none and vv['config']['dynamic'] else 'flexCheckDefault' }}">
                                      dynamic mode
                                  </label>
                                  <i class="bi bi-info-circle"  data-bs-toggle="popover" title="Dynamic" data-bs-content="Set channel to dynamic notification,Remove past livestream notification from channel"></i>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="live_only" value="live_only" id="{{ 'flexCheckChecked' if vv['config']['live_only'] is not none and vv['config']['live_only'] else 'flexCheckDefault' }}" {{ 'checked' if vv['config']['live_only'] is not none and vv['config']['live_only'] is true }}>
                                  <label class="form-check-label" for="{{ 'flexCheckChecked' if vv['config']['live_only'] is not none and vv['config']['live_only'] else 'flexCheckDefault' }}">
                                      live only
                                  </label>
                                  <i class="bi bi-info-circle"  data-bs-toggle="popover" title="Live only" data-bs-content="Set livestreams in strict mode(ignoring covering or regular video) notification"></i>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="upcoming" value="upcoming" id="{{ 'flexCheckChecked' if vv['config']['upcoming'] is not none and vv['config']['upcoming'] else 'flexCheckDefault' }}" {{ 'checked' if vv['config']['upcoming'] is not none and vv['config']['upcoming'] is true }}>
                                  <label class="form-check-label" for="{{ 'flexCheckChecked' if vv['config']['upcoming'] is not none and vv['config']['upcoming'] else 'flexCheckDefault' }}">
                                      upcoming
                                  </label>
                                  <i class="bi bi-info-circle"  data-bs-toggle="popover" title="Upcoming" data-bs-content="Enable new livestreams notification"></i>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="lite_mode" value="lite_mode" id="{{ 'flexCheckChecked' if vv['config']['lite'] is not none and vv['config']['lite'] else 'flexCheckDefault' }}" {{ 'checked' if vv['config']['lite'] is not none and vv['config']['lite'] is true }}>
                                  <label class="form-check-label" for="{{ 'flexCheckChecked' if vv['config']['lite'] is not none and vv['config']['lite'] else 'flexCheckDefault' }}">
                                      lite mode
                                  </label>
                                  <i class="bi bi-info-circle"  data-bs-toggle="popover" title="Lite" data-bs-content="Disabling ping user/role function"></i>
                              </div>                      
                              {% if vv['agency_name'] == "independent" %}
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="indie_notif" value="indie_notif" id="{{ 'flexCheckChecked' if vv['config']['indie_notif'] is not none and vv['config']['indie_notif'] else 'flexCheckDefault' }}" {{ 'checked' if vv['config']['indie_notif'] is not none and vv['config']['indie_notif'] is true }}>
                                  <label class="form-check-label" for="{{ 'flexCheckChecked' if vv['config']['indie_notif'] is not none and vv['config']['indie_notif'] else 'flexCheckDefault' }}">
                                      indie_notif 
                                  </label>
                                  <i class="bi bi-info-circle"  data-bs-toggle="popover" title="Indie" data-bs-content="Send all independent vtubers notification"></i>
                              </div>  
                              {% endif %}                                        
                            </div>
                            <div class="container p-1">
                                <label class="form-label">Region</label>
                                {% for vvv in vv["region"] %}
                                <div class="form-check" >
                                  {% if vv['config']['type'] is not none%}
                                  <input class="form-check-input" type="checkbox" value="{{vvv}}" id="{{ 'flexCheckChecked' if vvv in vv['config']['region'] else 'flexCheckDefault' }}" {{ 'checked' if vvv in vv['config']['region'] }}>
                                  <label class="form-check-label" for="{{ 'flexCheckChecked' if vvv in vv['config']['region'] else 'flexCheckDefault' }}">
                                      {{vvv}}
                                  </label>

                                  {% else %}
                                  <input class="form-check-input" type="checkbox" value="{{vvv}}" id="flexCheckChecked" checked>
                                  <label class="form-check-label" for="flexCheckChecked">
                                      {{vvv}}
                                  </label>
                                  {% endif %}  
                              </div>
                                {% endfor %}
                            </div>
          
                            <div class="container p-1 pb-2">
                              <select class="form-select channel-type" aria-label="select channel type" id="channel-type" name="channel">
                                  <option value="-1" {{"selected" if vv['config']['type'] is not none and vv['config']['type'] == 'Fanart' }} >Select channel type</option>
                                  <option value="1" {{ 'selected' if vv['config']['type'] is not none and vv['config']['type'] == 'Fanart' }}>Fanart</option>
                                  <option value="2" {{ 'selected' if vv['config']['type'] is not none and vv['config']['type'] == "Livestream" }}>Livestream</option>
                                  <option value="69" {{ 'selected' if vv['config']['type'] is not none and vv['config']['type'] == "Lewd" }} >Lewd</option>
                                  <option value="3" {{ 'selected' if vv['config']['type'] is not none and vv['config']['type'] == "Fanart & Livestream" }}>Fanart & Livestream</option>
                                  <option value="70" {{ 'selected' if vv['config']['type'] is not none and vv['config']['type'] == "Fanart & Lewd" }}>Fanart & Lewd</option>
                              </select>
                            </div>
                        </div>
                          {% endfor %}                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                      </div>
                  </div>
                </div>
              </div>            
            {% endfor %}
        </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    $(function(ready) {
        $('.select-agency').change(function(){
            let channel_id = $(this).find('option:selected').attr('id')
            $('.agency-'+channel_id).hide();
            console.log(channel_id,$(this).val()+"-"+channel_id)
            $('#' + $(this).val()+"-"+channel_id).show();
        });
    });
</script>
<script>
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})
</script>
<script>
  $(document).ready(function(){
    $("form").on("submit", function(event){
        event.preventDefault();
        var formValues= $(this).serialize();
        var actionUrl = $(this).attr("action");
        console.log($(this).serialize())
        $.post(actionUrl, formValues, function(data){
            // Display the returned data in browser
            console.log(data)
        });
    });
});
</script>
</html>