<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
<div class="container p-5">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" method="get">
                <select class="form-select" aria-label="Select Agency" id="select-agency">
                    <option selected>Select Agency</option>
                    <option value="Hololive">Hololive</option>
                    <option value="Nijisanji">Nijisanji</option>
                  </select>
                <div id="Hololive" class="agency" style="display:none">
                    <div class="container p-1">
                        Channel Option
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                              dynamic mode
                          </label>
                          <i class="bi bi-info-circle"  data-bs-toggle="popover" title="Dynamic" data-bs-content="Set channel to dynamic notification,Remove past livestream notification from channel"></i>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                              live only
                          </label>
                          <i class="bi bi-info-circle"  data-bs-toggle="popover" title="Live only" data-bs-content="Set livestreams in strict mode(ignoring covering or regular video) notification"></i>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                              upcoming
                          </label>
                          <i class="bi bi-info-circle"  data-bs-toggle="popover" title="Upcoming" data-bs-content="Enable new livestreams notification"></i>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                              lite mode
                          </label>
                          <i class="bi bi-info-circle"  data-bs-toggle="popover" title="Lite" data-bs-content="Disabling ping user/role function"></i>
                      </div>                      
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                              indie_notif 
                          </label>
                          <i class="bi bi-info-circle"  data-bs-toggle="popover" title="Indie" data-bs-content="Send all independent vtubers notification"></i>
                      </div>                                          
                    </div>
                    <div class="container p-1">
                        Region
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                          <label class="form-check-label" for="flexCheckChecked">
                              ID
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                          <label class="form-check-label" for="flexCheckChecked">
                              EN
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                          <label class="form-check-label" for="flexCheckChecked">
                              JP
                          </label>
                      </div>                      
                    </div>
  
                    <div class="container p-1 pb-2">
                      <select class="form-select" aria-label="Default select example">
                          <option selected>Channel type</option>
                          <option value="1">Fanart</option>
                          <option value="2">Livestream</option>
                          <option value="3">Lewd</option>
                          <option value="4">Fanart & Livestream</option>
                          <option value="4">Fanart & Lewd</option>
                      </select>
                    </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>      
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    $(function() {
        $('#select-agency').change(function(){
            $('.agency').hide();
            $('#' + $(this).val()).show();
        });
    });
</script>
<script>
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})
    
</script>
</html>