<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="https://cdn.human-z.tech/go-simp.png"/>
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.human-z.tech/Static/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.human-z.tech/Static/humanz.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <title>Go-Simp</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/"><img src="https://cdn.human-z.tech/go-simp.png" alt="Go-Simp" width="25" height="25">
      Go-Simp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/Vtubers/">Vtubers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Exec/">Bot Command</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Support Dev
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/Support/hug/">Support dev with hug</a>
              <a class="dropdown-item" href="/Support/kidney/">Support dev with your kidney</a>
              <a class="dropdown-item" href="/Support/airforceone/">Support dev with air support</a>
            </div>
          </li>
        </ul>
        <a href="https://twitter.com/simp_go" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter fa-tw fa-2x pr-2"></i></a>
        <a href="https://discord.gg/ydWC5knbJT" target="_blank" rel="noopener noreferrer"><i class="fa fa-discord fa-discord fa-2x pl-2"></i></a>
      </div>
    </nav>
  </head>
  <body>
    <div class="container" id="container">
      <div class="registration-form">
        <form name="form" action="/Add/" method="POST">
          {% csrf_token %}
          <div class="text-center">
            <h3>Add Vtuber</h3>
          </div>
          <p>
            This form only one way,that mean you can't edit or modify after you submit the form,make sure all information is correct<br>
            if you made a mistake you can resubmit it 
          </p>
            <div class="form-group">
                <input type="text" class="form-control item" name="EN_Name" id="EN_Name" placeholder="Vtuber name[EN]">
            </div>
            <div class="form-group">
              <input type="text" class="form-control item" name="JP_Name" id="JP_Name" placeholder="Vtuber name[JP]">
            </div>
            <div class="form-group">
              <input type="text" class="form-control item" name="Nickname" id="Nickname" placeholder="Vtuber nickname *required">
            </div>
            <div class="form-group">
              <input type="text" class="form-control item" name="Youtube" id="Youtube" placeholder="Youtube URL">
            </div>            
            <div class="form-group">
              <input type="text" class="form-control item" name="BiliBili" id="BiliBili" placeholder="BiliBili URL">
            </div>
            <div class="form-group">
              <input type="text" class="form-control item" name="Twitter" id="Twitter" placeholder="Twitter username">
            </div>
            <div class="form-group">
              <input type="text" class="form-control item" name="TwitterFanart" id="TwitterFanart" placeholder="Twitter fanart hashtag">
            </div>
            <div class="form-group">
              <input type="text" class="form-control item" name="BiliBiliFanart" id="BiliBiliFanart" placeholder="BiliBili fanart hashtag">
            </div>
            <div class="form-group">
              <input type="text" class="form-control item" name="Region" id="Region" maxlength="2" placeholder="Region *required">
            </div>
            <div class="form-group">
              <input type="text" class="form-control item" name="Wiki" id="Wiki" placeholder="Wiki URL *optional">
            </div>
            <label for="Group">Group/Agency</label>
            <select class="form-control" id="Group" name="Group">
              {% for Group in Groups %}
              <option>{{Group.VtuberGroupName}}</option>
              {% endfor %}
            </select>
            <div class="form-group">
                <button type="submit" onclick="return IsEmpty();" class="btn btn-block create-account">Submit Data</button>
            </div>
        </form>
      </div>
    </div>
    <!--
    <script src="http://localhost:8081/humanz.js"></script> 
    -->
    <script src="https://cdn.human-z.tech/Static/jquery-3.5.1.js"></script>
    <script src="https://cdn.human-z.tech/Static/popper.min.js"></script>
    <script src="https://cdn.human-z.tech/Static/bootstrap.min.js"></script>
    <script src="https://cdn.human-z.tech/Static/humanz.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  </body>
</html>