<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="https://cdn.human-z.tech/go-simp.png"/>
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.human-z.tech/Static/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.human-z.tech/Static/humanz.css"/>
    <title>Go-Simp</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/"><img src="https://cdn.human-z.tech/go-simp.png" alt="Go-Simp" width="25" height="25">
      Go-Simp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/Vtubers/">Vtubers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Exec/">Bot Command</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Support Dev
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/Support/hug/">Support dev with hug</a>
              <a class="dropdown-item" href="/Support/kidney/">Support dev with your kidney</a>
              <a class="dropdown-item" href="/Support/airforceone/">Support dev with air support</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </head>
  <body>
    <div class="container" id="index">
    <div class="d-flex flex-row-reverse">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
      {% for Reg in Region %}
        <label class="btn btn-secondary active">
          <input type="checkbox" onclick="Del(this)" id="disable-{{Reg}}" name="options" data-id="{{Reg}}"> {{Reg}}
        </label>
      {% endfor %}
      </div>
    </div>
    <div class="text-center">
      {% for Member in Members %}
      <a class="MemberInfo" href="/Member/{{Member.VtuberName}}">
        <figure class="figure p-1" name="{{Member.Region}}" id="{{Member.VtuberName}}">
          <img src={{Member.Youtube_Avatar}} class="zoom figure-img img-fluid img-thumbnail" alt="" width="75" height="75">
          <figcaption class="figure-caption">{{Member.VtuberName}}</figcaption></figure></a>
      {% endfor %} 
    </div>
    <div class="text-center">
    {% if Add %}
      <a class="btn btn-primary" href="/Add/" role="button">Add Vtubers</a>
    {% endif %}
    </div>
    </div>
    <!--
    <script src="https://cdn.human-z.tech/Static/jquery-3.5.1.js"></script>
    <script src="https://cdn.human-z.tech/Static/popper.min.js"></script>
    <script src="https://cdn.human-z.tech/Static/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.human-z.tech/Static/humanz.js"></script> 
    <script type="text/javascript" src="http://localhost:8081/humanz.js"></script> 
    -->
  </body>
</html>